<div id="content" ng-controller="AbsenceController">
	<fieldset>
		<legend>Add New Absence</legend>
<!-- TROCAR O ALIAS project. PARA absence. E TROCAR OS ATRIBUTOS QUE SERAO ACESSADO (DA CLASSE ABSENCE_RESOURCE) -->
		<form class="form-horizontal" data-role="validator"
			name="addAbsenceForm" id="addAbsenceForm"
			ng-submit="submitAbsenceForm(addAbsenceForm.$valid)" kendo-validator
			novalidate>

			<div class="control-group">
				<label class="control-label" for="name">Resource Name:</label>
				<div class="controls">
					<select kendo-combo-box k-placeholder="'Resource Name'"
						ng-model="absence.idResource" k-data-source="absencedata"
						k-data-value-field="'idResource'" k-data-text-field="'resource'"
						k-change="onChange" name="resource" id="cmbResource">&nbsp;
						
					</select>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="startDate">Start Date:</label>
				<div class="controls">
					<input kendo-date-picker k-format="'yyyy-MM-dd'" name="startDate"
						data-type="date" ng-model="absence.startDate"
						placeholder="YYYY-MM-DD" required /> &nbsp;<span
						class="k-invalid-msg" data-for="startDate"></span>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="endDate">End Date:</label>
				<div class="controls">
					<input kendo-date-picker k-format="'yyyy-MM-dd'" name="endDate"
						data-type="date" ng-model="absence.endDate"
						placeholder="YYYY-MM-DD" required /> &nbsp;<span
						class="k-invalid-msg" data-for="endDate"></span>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="workDays">Work day:</label>
				<div class="controls">
					<input type="text" name="workDays" ng-model="absence.workDays"
						class="input-large" placeholder="Work day" required
						validationMessage="Inform the cost of travel" /> &nbsp;<span
						class="k-invalid-msg" data-for="workDays"></span>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="workHours">Work hours:</label>
				<div class="controls">
					<input type="text" name="workHours" ng-model="absence.workHours"
						class="input-large" placeholder="Work hours" required
						validationMessage="Inform the cost of travel" /> &nbsp;<span
						class="k-invalid-msg" data-for="workHours"></span>
				</div>
			</div>
			
	  		<div class="control-group">
				<label class="control-label" for="motive">Motive</label>
				<div class="controls">
					<select kendo-combo-box k-placeholder="'Choose Absence'"
						k-data-source="motivedata" k-data-value-field="'idAbsence'"
						ng-model="absence.idAbsence" style="width: 350px;" 
						k-data-text-field="'absence'" k-change="onChange"
						name="cmbAbsence" id="cmbAbsence">
					</select>
				</div>
			</div>	

			<div class="control-group">
				<label class="control-label" for="description">Description:</label> 
				<label class="input-group-addon" for="name"></label>
				<div class="controls">
					<textarea rows="3" type="text" name="description" 
					ng-model="absence.description" class="input-large" 
					placeholder="Description"></textarea>
				</div>
			</div>


			 <br> <br>

			<div style="float: right">
				<button name="reset" id="btnReset" type="reset" class="btn">
					Reset <i class="icon-refresh"></i>
				</button>
				<button name="submit" id="btnAddAbsence" type="submit"
					class="btn btn-primary" ng-click="save()"
					ng-disabled="addAbsenceForm.$invalid">
					Submit <i class="icon-ok-sign icon-white"></i>
				</button>
			</div>
		</form>
	</fieldset>
</div>