<div id="content" ng-controller="HomeController">
	<fieldset>
		<legend>Add New Absence</legend>

		<form class="form-horizontal" data-role="validator"
			name="addAbsenceForm" id="addAbsenceForm"
			ng-submit="submitAbsenceForm(addAbsenceForm.$valid)" kendo-validator
			novalidate>



			<div class="control-group">	
				<label class="input-group-addon" for="name">Resource Name:</label>
				<div class="controls">
					<select kendo-combo-box k-placeholder="'Resource Name'"
						ng-model="selectedProject" k-data-source="projects"
						k-data-value-field="'idProject'" k-data-text-field="'name'"
						k-change="onChange" name="cmbTravel" id="cmbTravel">&nbsp;
					</select>
				</div>
			</div>




			<div class="control-group">		
				<label class="control-label" for="idProject">Project ID:</label>		
				<div class="controls">		
					<input  type="text" name="idProject" ng-model="project.projectCode" class="input-large"
							placeholder="Project ID" required validationMessage="Inform your project ID"			
							tabindex="-1" />							
					&nbsp;<span class="k-invalid-msg" data-for="idProject"></span>
				</div>
			</div>			
			<div class="control-group">		
				<label class="control-label" for="name">Project Name:</label>		
				<div class="controls">		
					<input  type="text" name="name" ng-model="project.name" class="input-large" 
							placeholder="Project Name" required validationMessage="Inform your project name" />							
					&nbsp;<span class="k-invalid-msg" data-for="name"></span>
				</div>
			</div>
























			<div class="control-group">
				<label class="control-label" for="startDate">Start Date</label>
				<div class="controls">
					<input kendo-date-picker k-format="'yyyy-MM-dd'" name="startDate"
						data-type="date" ng-model="absence.startDate"
						placeholder="YYYY-MM-DD" required /> &nbsp;<span
						class="k-invalid-msg" data-for="startDate"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="endDate">End Date</label>
				<div class="controls">
					<input kendo-date-picker k-format="'yyyy-MM-dd'" name="endDate"
						data-type="date" ng-model="absence.endDate"
						placeholder="YYYY-MM-DD" required /> &nbsp;<span
						class="k-invalid-msg" data-for="endDate"></span>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="name">Work day:</label>
				<div class="controls">
					<input type="text" name="name" ng-model="travel.name"
						class="input-large" placeholder="Work day" required
						validationMessage="Inform the cost of travel" /> &nbsp;<span
						class="k-invalid-msg" data-for="name"></span>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="name">Work hours:</label>
				<div class="controls">
					<input type="text" name="name" ng-model="travel.name"
						class="input-large" placeholder="Work hours" required
						validationMessage="Inform the cost of travel" /> &nbsp;<span
						class="k-invalid-msg" data-for="name"></span>
				</div>
			</div>

			<div>
				<label class="control-label" for="endDate">Motive</label>
				<div class="controls">
					<select kendo-combo-box k-placeholder="'Choose Absence'"
						ng-model="selectedAbsence" style="width: 350px;" ="'Choose
						Absence'"
					k-data-text-field="'name'" k-change="onChange"
						name="cmbAbsence" id="cmbAbsence">
						<option>Annual Leave = Planned</option>
						<option>Annual Leave = Confirmed</option>
						<option>Public Holiday (Brazil)</option>
						<option>Public Holiday (N=NY)</option>
						<option>Public Holiday (L=London)</option>
						<option>Public Holiday (both)</option>
						<option>Medical License</option>
						<option>Clearance (time bank) P = Planned</option>
						<option>Clearance (time bank confimed)</option>
						<option>Clearance (time bank) - H=Half day</option>
						<option>Day compensation (will work on holiday or
							weekend)</option>
					</select>
				</div>
			</div>
			
<br>	

			<div class="control-group">
				<label class="control-label" for="name">Description:</label> <label
					class="input-group-addon" for="name"></label>
				<div class="controls">

					<textarea rows="3"></textarea>
				</div>
			</div>



			<input type="hidden" name="idUser" ng-model="absence.idUser"
				ng-init="init()" /> <br> <br>

			<div style="float: right">
				<button name="reset" id="btnReset" type="reset" class="btn">
					Reset <i class="icon-refresh"></i>
				</button>
				<button name="submit" id="btnAddAbsence" type="submit"
					class="btn btn-primary" ng-click="save()"
					ng-disabled="addAbsenceForm.$invalid">
					Submit <i class="icon-ok-sign icon-white"></i>
				</button>
			</div>
		</form>
	</fieldset>
</div>