
<div id="example" ng-app="KendoDemos">
    <div ng-controller="MyCtrl">
    
    	<div id="gridPlanning" kendo-grid k-data-source="gridPlanningView" 
      		 k-selectable="'row'" k-pageable='{ "pageSize": 10, "refresh": true, "pageSizes": [5,10,20]}'
		  	 k-filterable="true" k-editable="'incell'" k-sortable="true" k-resizable = "true"
             class="gridPlanning" k-toolbar="['save','cancel']"           
             k-columns='[{ "field": "resource", "title": "NAME"},
			    		 { "field": "hiredate", "title": "HIRE DATE"},
			    		 { "field": "concept", "title": "PROFILE"},
			    		 { "field": "dtBeginOnProject", "title": "BEGIN ON PROJECT"},
			    		 { "field": "dtEndOnProject", "title": "END ON PROJECT"},
		    			  { command: ["update"], title: "", width: "110px"}]'>
		</div>
		
	    <div id="team-schedule">
			<div id="people" class="form-inline">
				<label><input checked type="checkbox" id="alex" value="1"> Resource 1</label>
				<label><input type="checkbox" id="bob" value="2"> Resource 2 </label>
				<label><input type="checkbox" id="charlie" value="3"> Resource 3 </label>
			</div>
		</div>
		
	    <div kendo-scheduler k-options="schedulerOptions" id="scheduler">
	        <span k-event-template class='custom-event' >{{dataItem.title}}</span>
	        <div k-all-day-event-template class='custom-all-day-event k-scheduler-times'>{{dataItem.title}}</div>
	    </div>
	    
    </div>
<!-- tr[role="row"] td:nth-child(1) -->
<style>

    .custom-event {
        text-shadow: 0 1px 1px #000;
    }
    .custom-all-day-event {
        text-align: center;
        text-transform: uppercase
    }
    .k-scheduler-times {
        display: none
    }
    .k-header.k-scheduler-footer{
    	display: none
    }
    td[role="gridcell"] {
    	
    }
   
    
</style>
</div>

<script>
function MyCtrl ($scope, $location) {
	var date = new Date();
    var addDays = kendo.date.addDays;
    
	    $scope.gridPlanningView = new kendo.data.DataSource({ 
			AutoSync: true,
			page: 1,
			pageSize: 10,
			transport: {
	           	read: {         	   
	        	   url: "rest/planning",
	        	   contentType: "application/json; charset=utf-8",
	               dataType: "json"
	           	},
	           	
	           	update: {         	   
	         	   url: "rest/planning",
	         	   contentType: "application/json; charset=utf-8",
	               dataType: "json",
	               type: "PUT"
	            },
			},
			
			schema: {
		   	    model: {id: "idBaselineResource"},
		   	 	type: "json"
		   	},
		   	
		   });
    
        $scope.schedulerOptions = {
        		eventHeight: 40,
				eventWidth: 10,
                //set major tick to full day
                //and leave the default startTime/endTime
                majorTick: 1440,
                //show only one minor tick
                minorTickCount: 1,
                majorTimeHeaderTemplate: "",
                views: [
					"day",
					{ type: "workWeek", selected: true },
					"week",
					"month",
                ],
                timezone: "Etc/UTC",
                dataBound: function(e) {
                    //hide the times row from the date/time header:
                    var view = this.view();
                    view.datesHeader.find("tr:last").prev().hide();
                    view.timesHeader.find("tr:last").prev().hide();
                },
                dataSource: {
                    batch: true,
                    data: [
                        //sample data:
                        {
                            Start: date,
                            End: date,
                            Title: "Team building",
                            IsAllDay: true,
                            OwnerID: 1,
                            Attendees: [1, 2, 3]
                        }, {
                            Start: addDays(date, 1),
                            End: addDays(date, 1),
                            Title: "Meeting with Alex",
                            IsAllDay: true,
                            OwnerID: 2,
                            Attendees: [1]
                        }, {
                            Start: addDays(date, 2),
                            End: addDays(date, 2),
                            Title: "Meeting with Charlie",
                            IsAllDay: true,
                            OwnerID: 2,
                            Attendees: [3]
                        }
                    ],
                    schema: {
                        model: {
                            id: "meetingID",
                            fields: {
                                meetingID: {
                                    from: "MeetingID",
                                    type: "number"
                                },
                                title: {
                                    from: "Title",
                                    defaultValue: "No title",
                                    validation: {
                                        required: true
                                    }
                                },
                                start: {
                                    type: "date",
                                    from: "Start"
                                },
                                end: {
                                    type: "date",
                                    from: "End"
                                },
                                startTimezone: { from: "StartTimezone"},
                                endTimezone: {from: "EndTimezone"},
                                description: {from: "Description"},
                                recurrenceId: {from: "RecurrenceID"},
                                recurrenceRule: {from: "RecurrenceRule"},
                                recurrenceException: {from: "RecurrenceException"},
                                ownerId: {
                                    from: "OwnerID",
									defaultValue: 1,
                                    nullable: true
                                },
                                attendees: {
                                    from: "Attendees",
                                    nullable: true
                                },
                                isAllDay: {
                                    type: "boolean",
                                    from: "IsAllDay"
                                }
                            }
                        }
                    },
					filter: {
						logic: "or",
						filters: [
							{ field: "ownerId", operator: "eq", value: 1 },
							{ field: "ownerId", operator: "eq", value: 2 }
						]
					}
                },
				resources: [{
                    field: "ownerId",
                    name: "Rooms",
                    dataSource: [{
                        text: "Meeting Room 101",
                        value: 1,
                        color: "#6eb3fa"
                    }, {
                        text: "Meeting Room 201",
                        value: 2,
                        color: "#f58a8a"
                    }],
                    title: "Owner"
                }, {
                    field: "attendees",
                    name: "Attendees",
                    dataSource: [{
                        text: "Alex",
                        value: 1,
                        color: "#f8a398"
                    }, {
                        text: "Bob",
                        value: 2,
                        color: "#51a0ed"
                    }, {
                        text: "Charlie",
                        value: 3,
                        color: "#56ca85"
                    }],
                    multiple: true,
                    title: "Attendees"
                }]
        };
        
        $("#people :checkbox").change(function(e) {
			var checked = $.map($("#people :checked"), function(checkbox) {
				return parseInt($(checkbox).val());
			});

			var scheduler = $("#scheduler").data("kendoScheduler");

			scheduler.dataSource.filter({
				operator: function(task) {
					return $.inArray(task.ownerId, checked) >= 0;
				}
			});
		});
        
      }
</script>


