
<div id="example" ng-app="KendoDemos"  class="k-content">
    <div ng-controller="MyCtrl">
    
	    <kendo-grid options="mainGridOptions" k-toolbar="['save','cancel']" >
	    </kendo-grid>
	    
	 <span class="hidden">  <kendo-grid options="gridSimulation" k-toolbar="['save','cancel']" >
	    </kendo-grid></span> 
	    
	    
	</div>
	  
</div>
<!-- tr[role="row"] td:nth-child(1) -->
<style>

    .custom-event {
        text-shadow: 0 1px 1px #000;
    }
    .custom-all-day-event {
        text-align: center;
        text-transform: uppercase
    }
    .k-scheduler-times {
        display: none
    }
    .k-header.k-scheduler-footer{
    	display: none
    }
    td[role="gridcell"] {
    }
   
</style>

<script>
function MyCtrl ($scope, $location) {

	 var columns = [];
	 
	 var date1 = new Date();
	 var addDays1 = kendo.date.addDays;
	 
	//console.log(kendo.date.addDays(date1, 1));
	 
	 var data = kendo.toString(kendo.date.addDays(date1, 1), "d");
	 
	 console.log(data);
	 
	 columns.push({
         field: "resource",
         title: "RESOURCE",
         locked: true,
         lockable: false,
         width: "150px"
         },{
         field: "date",
         title: "DATE",
         locked: true,
         lockable: false,
         width: "150px"
         }
     );
	 
    for (var i = 0; i < 100; i++) {
    	columns.push({
            field: "hours",
            title: "" + kendo.toString(kendo.date.addDays(date1, i), "d"),
            width: "100px"
        });	    
    }
	
	var date = new Date();
    var addDays = kendo.date.addDays;
              
    var dataSource = new kendo.data.DataSource({
    	transport: {
	       	read: {         	   
	    	   url: "rest/planning",
	    	   contentType: "application/json; charset=utf-8",
	           dataType: "json"
	       	},	
	       	update: {         	   
	     	   url: "rest/planning",
	     	   contentType: "application/json; charset=utf-8",
	           dataType: "json",
	           type: "PUT"
	        }
		},
	/*	group: { 
			field: "resource"
			aggregates: [{ 
       			field: "hours", 
       			aggregate: "sum" 
       		}]
		},*/
		schema: {
		 /* data: function(response) {
		    	for (var m in response){
		    		console.log(m);
		    	    for (var i in response[m]){
		    		   console.log(response[m][i].idNome);
		    	    } 
		    	} 
		      console.log(response);
		      return response;
	    	},*/
		    model: {id: "idActivitySheet"},
	   	 	type: "json"
		},
		 page: 1,
		 pageSize: 10
    });
   
   /*	dataSource.fetch(function(){
	   var data = this.data();
	   console.log(data.length);
	});
   
   	var observable = new kendo.data.ObservableObject(data);
	var json = observable.toJSON();
	
	//console.log(JSON.stringify(json));*/
    
	$scope.mainGridOptions = {
		dataSource: dataSource,
		sortable: true,
		editable: true,
		resizable: true,
		scrollable: {
	        virtual: true
	    },
		columnMenu: true,
	    pageable:{ 
	    	refresh: true, 
	    	pageSizes: [5,10,100]
		},
		columns: columns
	}	
	
	
	var AdataSource = new kendo.data.DataSource({
    	transport: {
	       	read: {         	   
	    	   url: "rest/simulation",
	    	   contentType: "application/json; charset=utf-8",
	           dataType: "json"
	       	},	
	       	update: {         	   
	     	   url: "rest/simulation",
	     	   contentType: "application/json; charset=utf-8",
	           dataType: "json",
	           type: "PUT"
	        }
		},
		schema: {
		    model: {id: "idActivitySheet"},
	   	 	type: "json"
		},
		 page: 1,
		 pageSize: 10
    });
	
	$scope.gridSimulation = {
			dataSource: AdataSource,
			sortable: true,
			editable: true,
			resizable: true,
			scrollable: {
		        virtual: true
		    },
			columnMenu: true,
		    pageable:{ 
		    	refresh: true, 
		    	pageSizes: [5,10,100]
			},
			columns:  [{
				field: "resource",
				title: "NAME",
				locked: true,
				lockable: false,
				width: "120px"
				},{
				field: "hiredate",
				title: "HIRE DATE",
				locked: true,
				width: "120px"
				},{
				field: "concept",
				title: "PROFILE",
				locked: true,
				width: "120px"
				},{
				field: "dtBeginOnProject",
				title: "BEGIN ON PROJECT",
				locked: true,
				width: "120px"
				},{
				field: "dtEndOnProject",
					title: "END ON PROJECT",
					locked: false,
					width: "120px"
			}]
		}	
}    
		
      
/**/
</script>


