<style>
	.gridProperties {
		width: 850px;
		float:right;
		clear:right;
		margin: 0 0 30px;
	}
</style>

<div class="row-fluid" ng-controller="PropertiesController">	
	<fieldset>
	<legend>
		<button id="seegridex" class="btn btn-primary pull-right " kendo-tooltip k-content="'See list of expenses'" k-position="'top'">See Expenses <i class="icon-eye-open icon-white"></i></button>
		Properties...
	</legend>
		
	    <ul kendo-panel-bar k-options="panelBarOptions" style="display: inline-block; min-width: 250px; float: left;" k-on-select="onSelect(kendoEvent)">	        
          	<li id="project" >
			    <span class="k-link k-state-selected">Project</span>
		 	</li>
			<li id="people">
			    People
		 	</li>
		 	<li id="calendar">
			    Calendar
		 	</li>
		 	<li id="profile">
			    Profile
		 	</li>	
        </ul>
        
        <div id="AgridExpenses" kendo-grid k-data-source="gridExpenses" k-selectable="'inline'"
			 k-pageable='{ "pageSize": 10, "refresh": true, "pageSizes": [5,10,20]}'
	  		 k-filterable="true" k-sortable="true" k-resizable = "true" k-editable = "'incell'"
           	 class="gridProperties" k-toolbar="['save','cancel']"  k-on-select="onSelect(kendoEvent)"
           	 k-columns= '[{ field: "idResource", title: "RESOURCE"},
		    			  { field: "legalEntity", title: "LEGAL ENTITY"},
		    			  { field: "beginExpensesDate", title: "START DATE"},
		    			  { field: "endExpensesDate", title: "END DATE"},
		    			  { field: "costRate", format: "{0:c}", title: "COST"},
		    			  { field: "description", title: "DESCRIPTION"},
		    			    { command: ["destroy"], title: "&nbsp;", width: "100px" }]'
		    style="display:none;">
		</div>
			
   		<div id="gridProjects" kendo-grid k-data-source="gridProjects" k-selectable="'inline'"
			 k-pageable='{ "pageSize": 10, "refresh": true, "pageSizes": [5,10,20]}'
	  		 k-filterable="true" k-sortable="true" k-resizable = "true" k-editable = "'incell'"
           	 class="gridProperties" k-toolbar="['save','cancel']"
           	 k-columns= '[{ field: "projectCode", title: "CODE"},
		    			  { field: "name", title: "NAME"},
		    			  { field: "startDate", title: "START DATE"},
		    			  { field: "endDate", title: "END DATE"}]'>
		</div>

		<div id="gridPeoples" kendo-grid k-data-source="gridPeopleView" 
      		 k-selectable="'row'" k-pageable='{ "pageSize": 10, "refresh": true, "pageSizes": [5,10,20]}'
		  	 k-filterable="true" k-editable="'incell'" k-sortable="true" k-resizable = "true"
             class="gridProperties" k-toolbar="['save','cancel']"           
             k-columns='[
				{ "field": "resource", "title": "NAME"}, 
				{ "field": "concept", "title": "CONCEPT"},
				{ "field": "entity", "title": "LEGAL ENTITY"},
				{ "field": "location", "title": "CITY"},
				{
					"command": "", 
					"title": "Absence", 
					"width": "60px",
					"template": "<button class=\"btn\" ng-click=\"addAbsence.open().center()\" kendo-tooltip k-content=\"Click here to add a new absence!\" k-position=\"top\"><i class=\"icon-calendar\"></i></button>"
				},
				
				{
					"command": "", 
					"title": "Expenses", 
					"width": "60px",
					"template": "<button class=\"btn\" ng-click=\"addExpenses.open().center()\" kendo-tooltip k-content=\"Click here to add a new expenses!\" k-position=\"top\"><i class=\"icon-edit\"></i></button>"
				}]'
			style="display:none;">
			
		</div>

		<div kendo-window="addAbsence" k-title="'Add Absence'" k-visible="false" k-content="{ url: 'views/addAbsence.html' }" k-modal="'true'"></div>
			
		<div kendo-window="addExpenses" k-title="'Add Expenses'" k-visible="false" k-content="{ url: 'views/addExpenses.html' }" k-modal="'true'"></div>
			
		<div id="gridCalendar" kendo-grid k-data-source="gridCalendar" 
      		 k-selectable="'row'" k-pageable='{ "pageSize": 10, "refresh": true, "pageSizes": [5,10,20]}'
		  	 k-filterable="true" k-editable="'incell'" k-sortable="true" k-on-change="change()"
             k-resizable = "true" class="gridProperties" k-toolbar="['save','cancel']"           	            
		  	 k-columns='[{ "field": "description", "title": "DESCRIPTION"},
			    		 { "field": "date", "title": "DATE"},
			    		 { "field": "hours", "title": "HOURS" },
			    		 { "field": "weekDay", "title": "WEEK DAY" },
			    		 {"field": "location", "title": "CITY"}]'
		  	style="display:none;">
		</div>

		<div id="gridProfile" 
			 kendo-grid k-data-source="gridProfileView" 
      		 k-selectable="'row'" k-pageable='{ "pageSize": 10, "refresh": true, "pageSizes": [5,10,20]}'
		  	 k-filterable="true" k-editable="'incell'" k-sortable="true"
             k-resizable="true" class="gridProperties" k-toolbar="['save','cancel']"           	            
		  	 k-columns='[{ "field": "concept", "title": "CONCEPT"},
			    		 { "field": "blpCost", format: "{0:c}", "title": "BLP COST"},
			    		 { "field": "blpCostSimulation", format: "{0:c}", "title": "BLP SIMULATION" },
			    		 { "field": "entity", "title": "LEGAL ENTITY"}]'
            style="display:none;">
		</div>		
	</fieldset>
</div>	


<script>

var carregaProjects = function($scope) {
	$scope.gridProjects = new kendo.data.DataSource({ 
		autoSync: true, 
		batch: false,
   		page: 1,
		pageSize: 10,
		transport: {
			read: {
				url: "rest/project",
				contentType: "application/json; charset=utf-8",
				dataType: "json"
			}, 	
			 	           
			update: {
				url: "rest/project",
				contentType: "application/json; charset=utf-8",
				type: "PUT",
				dataType: "json"
			},
		},
		   	 
		schema: {
			model: {
				id: "idProject",
				fields: {
					projectCode: {editable: false},
					name: {editable: false},
					startDate: {editable: false}
				}
			}
		},
		
	});
}

function PropertiesController ($scope, $location) {
	
	$("#seegridex").click(function(){
	    $("#AgridExpenses").slideToggle(500);
	});
	
	 $scope.change = function(e){
		 var item = e.sender.dataItem(e.sender.select());  //METODOS DO KENDO QUE ACESSAO OS DADOS DA LINHA SELECIONADA
		 console.log(item.idActivity);
	 }

	carregaProjects($scope);
	
	$scope.gridExpenses = new kendo.data.DataSource({ 
		autoSync: true, 
		batch: false,
   		page: 1,
		pageSize: 10,
		transport: {
			read: {
				url: "rest/expenses",
				contentType: "application/json; charset=utf-8",
				dataType: "json"
			}, 	
			 	           
			update: {
				url: "rest/expenses",
				contentType: "application/json; charset=utf-8",
				type: "PUT",
				dataType: "json"
			},
			destroy:{
	       		url: "rest/expenses",
	           dataType: "json",
	           type: "DELETE"
	       	}
		},
		schema: {
			model: {
				id: "idExpenses",
				fields: {
					idResource: {editable: false},
					legalEntity: {editable: false}
				}
			}
		},
		
		});
	
	
	$scope.onSelect = function(e) {  
    	
		var id = $(e.item).attr('id');
		console.log("AQUI")
		
		if (id == 'project') {
			
			$("#gridProjects").css("display", "");
			$("#gridPeoples").css("display", "none");
			$("#gridCalendar").css("display", "none");
			$("#gridProfile").css("display", "none");
	    		
			carregaProjects($scope);
    	}
	
    	if (id == 'people') {
    		
    		$("#gridProjects").css("display", "none");
    		$("#gridPeoples").css("display", "");
    		$("#gridCalendar").css("display", "none");
    		$("#gridProfile").css("display", "none"); 
    		
    		$scope.gridPeopleView = new kendo.data.DataSource({ 
    			AutoSync: true,
        		page: 1,
        		pageSize: 10,
        		transport: {
                   	read: {         	   
                	   url: "rest/people",
                	   contentType: "application/json; charset=utf-8",
                       dataType: "json"
                   	},
                   	
                   	update: {         	   
                 	   url: "rest/resource",
                 	   contentType: "application/json; charset=utf-8",
                       dataType: "json",
                       type: "PUT"
                    },
        		},
        		
        		schema: {
        			data: function(response) {
  					  console.log(response);
  				      return response;
  				    },
    		   	    model: {
    		   	    	id: "idResource",    
    		   	    	fields: {
    		   	    		resource: {editable: false},
    		   	    		concept: {editable: false},
    		   	    		entity: {editable: false},
			        		location: {editable: false}
						}
    		   	    }
    		   	},
    		   	
       	   });
       } 
	    	
		
    	if (id == 'calendar') {
    		
    		$("#gridProjects").css("display", "none");
    		$("#gridPeoples").css("display", "none");
    		$("#gridCalendar").css("display", "");
    		$("#gridProfile").css("display", "none");
    		    		
    		$scope.gridCalendar = new kendo.data.DataSource({ 
    			autoSync: true,
        		page: 1,
        		pageSize: 10,
        		transport: {
       		      read: {         	   
					url: "rest/calendar",
					contentType: "application/json; charset=utf-8",
					dataType: "json"
       		      },
       		      
	 	          update: {
	        	      url: "rest/calendar",
	        	      type: "PUT",
	        	      contentType: "application/json; charset=utf-8",
	        	      dataType: "json" 
	 	           },
        		}, 
        		
        		schema: {
    		   	    model: { 
    		   	    	id: "idHoliday",
    		   	    	fields: {
    		   	    		location: {editable: false}
						}
    		   	    },
    		   	    type: "json"
        		},
        	});
    		
    	}
	
    	if (id == 'profile') {
    		
    		$("#gridProjects").css("display", "none");
    		$("#gridPeoples").css("display", "none");
    		$("#gridCalendar").css("display", "none");
    		$("#gridProfile").css("display", "");
    		
    		$scope.gridProfileView = new kendo.data.DataSource({ 
    			AutoSync: true,
    			page: 1,
    			pageSize: 10,
    		   	transport: {
    		    	read: {         	   
    		    	   url: "rest/profile",
    		    	   contentType: "application/json; charset=utf-8",
    		           dataType: "json"
    		       	}, 
    		       	
    		        update: {
	 	        	      url: "rest/conceptByLegalEntity",
	 	        	      type: "PUT",
	 	        	      contentType: "application/json; charset=utf-8",
	 	        	      dataType: "json" 
	 	           },
    		   	}, 
    		
    			 schema: {
     		   	    model: { 
     		   	    	id: "idConceptLegalEntity",
	     		   	    fields: {
			   	    		concept: {editable: false},
			   	    		blpCost: {editable: false},
			   	    		entity: {editable: false}
						}
     		   	    },
     		   	    type: "json"
     		   	},     		   	
    		}); 
    	} 
    	    	
  	};

	$('span', '#project').on('click', function(){
		alert('click');
	}).click();
}
</script>